* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cambria Math", sans-serif;
    background-image: url("http://localhost:8080/css/imagenes/Mesa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

.titulo {
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 50px;
}

.mesa {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 15px;
     height: 480px;
}

.crupier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    height: 230px;
}

.cartas {
     display: flex;
     position: relative;
     z-index: 1;
}

.jugador {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 30px;
}

.contenedor-mano {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
}

#apuesta-input {
    text-align: center;
    position: relative;
}

#apuesta {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #28ffbb;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
}

.botones {
    display: flex;
    margin-top: 85px;
}

.contenedor-botones-apuestas {
    width: 50%;
    text-align: center;
}

.contenedor-botones {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-saldo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.saldo-info {
    position: fixed;
    bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-top: 50px;
    text-align: center;
}

#valor-jugador, #valor-crupier, #valor-jugador-1, #valor-jugador-2 {
    border-radius: 50%;
    border: 2px solid #000000;
    width: 50px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85px;
    left: -70px;
    z-index: 3;
    background-color: orange;
    transition: background-color 0.5s ease;
}

.carta { /*Listo*/
    width: 140px;
    height: 200px;
    margin: 0 -55px 30px;
    border: 1px solid rgba(255, 159, 0, 0.7);
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-20px);
    opacity: 0;
}

.carta-oculta { /*Listo*/
    background-color: gray;
    border: 1px solid rgba(255, 159, 0, 0.7);
    width: 140px;
    height: 200px;
    transform: rotateY(180deg);
}

.carta img { /*Listo*/
    width: 100%;
    height: 100%;
}

.mostrar {
    transform: translateY(0);
    opacity: 1;
}

.boton {
    padding: 15px 15px;
    margin: 10px 40px;
    border: none;
    background-color: #690094;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.boton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.boton:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.boton-apuesta {
    margin: 10px 40px;
    background-color: #3f3f3f;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#boton-500 {
    border: 4px dashed #d20000;
}

#boton-1K {
    border: 4px dashed #d6d61d;
}

#boton-2K {
    border: 4px dashed #44c944;
}

#boton-5K {
    border: 4px dashed #135ccb;
}

#boton-10K {
    border: 4px dashed #4900a6;
}

.boton-apuesta:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.boton-apuesta:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.boton-con-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saldo-info .apuesta-container {
    margin-top: 50px;
    text-align: center;
}

.apuesta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.jugador.row {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.botones-expandidos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.texto-boton {
    font-size: 16px;
}

.popup {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     padding: 20px;
     border-radius: 5px;
     font-size: 1.5em;
     z-index: 1000;
}

@media screen and (max-width: 380px) {
    .titulo {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .saldo-info {
        bottom: 10px;
        font-size: 0.8rem;
        justify-content: space-around;
        gap: 0;
    }

    .mesa {
        margin-top: 0;
        height: 330px;
    }

    #apuesta {
        width: 80px;
        height: 80px;
        font-size: 1rem;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .contenedor-botones {
        width: 100%;
        justify-content: space-around;
        margin-top: 15px;
    }

    .botones-expandidos {
        margin-top: 50px;
        justify-content: space-around;
    }

    .botones {
        margin-top: 20px;
        display: block;
    }

    .boton-apuesta {
        margin: 0 10px;
        font-size: 0.8rem;
        width: 40px;
        height: 40px;
    }

    .boton {
        padding: 10px 10px;
        margin: 0;
        font-size: 12px;
    }

    .texto-boton {
        font-size: 12px;
        margin-top: 5px;
    }

    .carta {
        width: 80px;
        height: 110px;
        margin: 0 -30px;
    }

    .carta-oculta {
        width: 80px;
        height: 110px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 40px;
        font-size: 1rem;
        left: -40px;
        width: 40px;
        height: 40px;
    }

    .crupier {
        margin: 20px;
        height: 160px;
    }

    .jugador {
        margin: 15px 0;
    }

    .contenedor-mano {
        margin: 0 60px;
    }
}

@media screen and (min-width: 381px) and (max-width: 539px) {
    .titulo {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }

    .saldo-info {
        bottom: 10px;
        font-size: 0.8rem;
        justify-content: space-around;
        gap: 0;
    }

    .mesa {
        margin-top: 30px;
        height: 430px;
    }

    #apuesta {
        width: 80px;
        height: 80px;
        font-size: 1rem;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .contenedor-botones {
        width: 100%;
        justify-content: space-around;
        margin-top: 25px;
    }

    .botones-expandidos {
        margin-top: 50px;
        justify-content: space-around;
    }

    .botones {
        margin-top: 60px;
        display: block;
    }

    .boton-apuesta {
        margin: 0 10px;
        font-size: 0.8rem;
        width: 40px;
        height: 40px;
    }

    .boton {
        padding: 10px 10px;
        margin: 0;
        font-size: 12px;
    }

    .texto-boton {
        font-size: 12px;
        margin-top: 5px;
    }

    .carta {
        width: 120px;
        height: 160px;
        margin: 0 -45px;
    }

    .carta-oculta {
        width: 120px;
        height: 160px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 60px;
        font-size: 1rem;
        left: -60px;
        width: 55px;
        height: 55px;
    }

    .crupier {
        margin: 30px 0 60px 0;
        height: 160px;
    }

    .jugador {
        margin: 40px 0 0;
    }

    .contenedor-mano {
        margin: 0 60px;
    }
}

@media screen and (min-width: 540px) and (height: 720px) {
    .titulo {
        font-size: 2.5rem;
    }

    .saldo-info {
        bottom: 10px;
        gap: 0;
        justify-content: space-around;
    }

    #apuesta {
        width: 90px;
        height: 90px;
        font-size: 20px;
    }

    .texto-boton {
        font-size: 14px;
    }

    .mesa {
        height: 350px;
        margin: 0;
    }

    .botones {
        display: block;
        margin-top: 5px;
    }

    .boton {
        padding: 10px;
        margin: 10px 0;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .boton-apuesta {
        margin: 10px 20px;
    }

    .contenedor-botones {
        width: 100%;
        justify-content: space-around;
    }

    .crupier {
        height: 140px;
    }

    .carta {
        width: 100px;
        height: 150px;
        margin: 0 -40px;
    }

    .carta-oculta {
        width: 100px;
        height: 150px;
    }

    .botones-expandidos {
        justify-content: space-around;
        margin-top: 50px;
    }

    .jugador {
        margin: 30px 0;
    }

    .contenedor-mano {
        margin: 0 100px;
    }

    .popup {
        padding: 10px;
        font-size: 1rem;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 60px;
        left: -60px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .titulo {
        font-size: 2.5rem;
    }

    .saldo-info {
        bottom: 10px;
        gap: 0;
        justify-content: space-around;
    }

    #apuesta {
        width: 90px;
        height: 90px;
        font-size: 20px;
    }

    .texto-boton {
        font-size: 14px;
    }

    .mesa {
        height: 550px;
        margin: 0;
    }

    .botones {
        display: block;
        margin-top: 5px;
    }

    .boton {
        padding: 10px;
        margin: 10px 0;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .boton-apuesta {
        margin: 10px 20px;
    }

    .contenedor-botones {
        width: 100%;
        justify-content: space-around;
    }

    .crupier {
        height: 140px;
    }

    .carta {
        width: 100px;
        height: 150px;
        margin: 0 -40px;
    }

    .carta-oculta {
        width: 100px;
        height: 150px;
    }

    .botones-expandidos {
        justify-content: space-around;
        margin-top: 50px;
    }

    .jugador {
        margin: 30px 0;
    }

    .contenedor-mano {
        margin: 0 100px;
    }

    .popup {
        padding: 10px;
        font-size: 1rem;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 60px;
        left: -60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .botones {
        display: block;
        margin-top: 40px;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .contenedor-botones {
        width: 100%;
    }

    .saldo-info {
        bottom: 10px;
        justify-content: space-around;
        gap: 0;
    }

    .mesa {
        height: 470px;
    }

    .crupier {
        margin: 75px;
    }

    .jugador {
        margin: 0;
    }

    .contenedor-mano {
        margin: 0 120px;
    }

    .botones-expandidos {
        margin-top: 50px;
    }
}

/*Listo*/

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .mesa {
        height: 250px;
    }

    .botones {
        margin-top: 10px;
    }

    .boton {
        padding: 10px 10px;
        margin: 10px 20px;
    }

    .carta {
        width: 90px;
        height: 120px;
        margin: 0 -35px;
    }

    .carta-oculta {
        width: 90px;
        height: 120px;
    }

    .crupier {
        height: 160px;
        margin: 0;
    }

    .jugador {
        margin: 5px;
    }

    #apuesta {
        width: 100px;
        height: 100px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 45px;
        left: -55px;
    }

    .saldo-info {
        bottom: 10px;
        gap: 0;
        justify-content: space-around;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .boton-apuesta {
        margin: 10px;
    }

    .contenedor-botones {
        width: 100%;
    }

    .botones-expandidos {
        gap: 50px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) and (height: 1366px) {
    .titulo {
        text-align: center;
        padding: 50px 0 0 0;
        font-size: 70px;
    }

    .mesa {
        margin-top: 120px;
        height: 630px;
    }

    .botones {
        margin-top: 60px;
        display: block;
    }

    .boton {
        padding: 20px 20px;
        font-size: 25px;
    }

    .carta {
        width: 180px;
        height: 250px;
        margin: 0 -70px;
    }

    .carta-oculta {
        width: 180px;
        height: 250px;
    }

    .crupier {
        height: 240px;
        margin: 0 0 170px 0;
    }

    .jugador {
        margin: 5px;
    }

    .texto-boton {
        font-size: 25px;
    }

    #apuesta {
        width: 130px;
        height: 130px;
        font-size: 25px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 90px;
        left: -90px;
        font-size: 1.5rem;
        width: 80px;
        height: 80px;
    }

    .botones-expandidos {
        gap: 50px;
        margin-top: 75px;
    }

    .saldo-info {
        bottom: 10px;
        gap: 0;
        justify-content: space-around;
    }

    .contenedor-botones-apuestas {
        width: 100%;
    }

    .boton-apuesta {
        margin: 10px 25px;
        font-size: 22px;
        width: 80px;
        height: 80px;
    }

    .contenedor-botones {
        width: 100%;
    }

    .contenedor-saldo {
        font-size: 30px;
    }
}

@media screen and (min-width: 912px) and (min-height: 1368px) {
    .titulo {
        padding: 40px 0 0 0;
        font-size: 60px;
    }

    .boton-apuesta {
        font-size: 24px;
        width: 80px;
        height: 80px;
    }

    #apuesta {
        width: 140px;
        height: 140px;
        font-size: 24px;
    }

    .boton {
        padding: 20px 20px;
        margin: 20px 40px;
        font-size: 30px;
    }

    .saldo-info {
        font-size: 28px;
    }

    .mesa {
        margin-top: 60px;
        height: 710px;
    }

    .carta {
        width: 200px;
        height: 270px;
        margin: 0 -80px 30px;
    }

    .carta-oculta {
        width: 200px;
        height: 270px;
    }

    .crupier {
        margin: 75px 0 170px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 100px;
        left: -100px;
        font-size: 30px;
        width: 80px;
        height: 80px;
    }

    .texto-boton {
        font-size: 25px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .titulo {
        padding-top: 15px;
        font-size: 60px;
    }

    .mesa {
        margin-top: 40px;
        height: 360px;
    }

    .crupier {
        height: 160px;
        margin: 15px;
    }

    .carta {
        width: 110px;
        height: 160px;
        margin: 0 -45px -30px;
    }

    .carta-oculta {
        width: 110px;
        height: 160px;
    }

    #valor-crupier, #valor-jugador, #valor-jugador-1, #valor-jugador-2 {
        top: 65px;
        left: -60px;
        font-size: 1.2rem;
        width: 50px;
        height: 50px;
    }

    .jugador {
        margin: 40px 0 0 0;
    }

    #apuesta {
        width: 90px;
        height: 90px;
        font-size: 16px;
    }

    .botones {
        display: flex;
        margin-top: 70px;
    }

    .botones-expandidos {
        margin: 0;
    }

    .boton {
        padding: 10px;
        margin: 10px 25px;
        font-size: 14px;
    }

    .boton-apuesta {
        margin: 10px 20px;
        width: 60px;
        height: 60px;
        font-size: 16px;
    }

    .texto-boton {
        font-size: 16px;
    }

    #apuesta {
        width: 90px;
        height: 90px;
    }

    .saldo-info {
        bottom: 10px;
        gap: 130px;
        font-size: 18px;
    }
}