<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casino online</title>
    <link rel="stylesheet" th:href="@{/css/blackjack.css}"/>
</head>
<body>

<main>

    <h1>BLACKJACK ONLINE</h1>
    <h3>Juegos</h3>

    <section>
        <div>
            <input type="hidden" id="estado-del-jugador" th:value="${estaLogueado}">
            <a id="id-blackjack" th:href="@{/mesa-blackjack}">Jugar al Blackjack</a>
        </div>
    </section>

    <div id="miModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Debes iniciar sesión para jugar.</p>
            <a th:href="login">Ingresar</a>
        </div>
    </div>

</main>

</body>
<script th:src="@{/js/blackjack.js}"></script>
</html>