<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Casino</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="contenedor-header">
        <div>
            <a href="home" class="texto-casino">CASINO ONLINE</a>
        </div>
        <div>
            <div class="logo-casino"></div>
        </div>
        <div th:if="${estaLogueado}" class="info-usuario">
            <div>
                <div>
                    <p class="saldo">$<span th:text="${saldoJugador}"></span></p>
                </div>
                <div>
                    <a class="depositar-txt" href="deposito">Depositar</a>
                </div>
            </div>
            <div>
                <i class="fa-solid fa-user icono-usuario"></i>
            </div>
        </div>
        <div th:unless="${estaLogueado}">
            <button class="boton-iniciar-sesion" id="iniciar-sesion">Iniciar Sesión</button>
        </div>
    </div>

    <div class="menu-usuario">
        <a class="menu-usuario-a" th:href="@{cerrar-sesion}">Cerrar Sesión</a>
    </div>

    <div class="contenedor-buscador">
        <div class="buscador">
            <svg class="icono-buscar" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
            <label for="buscador"></label>
            <input placeholder="Buscar" type="search" class="input-buscador" id="buscador">
        </div>
    </div>

    <nav>
        <div class="contenedor-principal-categorias">
            <ul class="contenedor-categorias">
                <li>
                    <a href="#" class="categoria" data-filter="todos">Todos los juegos</a>
                </li>
                <li class="filtro-blackjack">
                    <a href="#" class="categoria" data-filter="blackjack">Blackjack</a>
                </li>
                <li class="filtro-ruleta">
                    <a href="#" class="categoria" data-filter="ruleta">Ruleta</a>
                </li>
                <li class="filtro-baccarat">
                    <a href="#" class="categoria" data-filter="baccarat">Baccarat</a>
                </li>
                <li class="filtro-slots">
                    <a href="#" class="categoria" data-filter="slot">Slots</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section class="contenedor-principal-juegos">
        <article class="contenedor-juegos">
            <input type="hidden" id="estado-del-jugador" th:value="${estaLogueado}">
            <div>
                <a class="juego" id="id-blackjack" th:href="@{/mesa-blackjack}">
                    <div></div>
                    <div class="portada-blackjack" data-category="blackjack" data-nombre="Blackjack">
                        <p class="texto-juego">Jugar Blackjack</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="juego" href="#">
                    <div class="portada-ruleta" data-category="ruleta" data-nombre="Ruleta">
                        <p class="texto-juego">Jugar Ruleta<br>(Proximamente)</p>
                    </div>
                </a></div>
            <div>
                <a class="juego" href="#">
                    <div class="portada-baccarat" data-category="baccarat" data-nombre="Baccarat">
                        <p class="texto-juego">Jugar Baccarat<br>(Proximamente)</p>
                    </div>
                </a></div>
            <div>
                <a class="juego" href="#">
                    <div class="portada-blackjack-2" data-category="blackjack" data-nombre="Blackjack">
                        <p class="texto-juego">Jugar Blackjack<br>(Proximamente)</p>
                    </div>
                </a></div>
            <div>
                <a class="juego" href="#">
                    <div class="portada-sugar-rush" data-category="slot" data-nombre="Sugar Rush">
                        <p class="texto-juego">Jugar Sugar Rush<br>(Proximamente)</p>
                    </div>
                </a></div>
        </article>
    </section>

    <div id="popup" class="popup">
        <div class="contenedor-principal-login">
            <div class="contenedor-login">
                <span class="icono-cerrar">&times;</span>
                <form th:action="@{/loguear}" method="POST" id="login-form">
                    <h3 class="titulo-iniciar-sesion">Iniciar Sesión</h3>

                    <label for="email"></label>
                    <input class="input-email" type="email" id="email" name="email" placeholder="Email" required
                           autocomplete="email"/>

                    <label for="password"></label>
                    <input class="input-contrasenia" type="password" id="password" name="contrasenia"
                           placeholder="Contraseña" required/>

                    <p id="error"></p>

                    <button class="boton-ingresar" type="submit">Ingresar</button>

                    <div class="contenedor-opciones">
                        <div>
                            <a href="#" class="texto-olvidar-contrasenia">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div>
                            <a th:href="@{/registrarse}" class="texto-registrarse">Registrarte</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="popup-saldo" class="popup">
        <div class="contenedor-principal-saldo">
            <div class="contenedor-saldo">
                <h3>Bienvenido <span th:text="${nombreUsuario}"></span></h3>
                <div class="contenedor-info-saldo">
                    <p>Saldo actual: <span th:text="${saldoJugador}" id="saldo-usuario"></span></p>
                    <div th:href="deposito" id="boton-depositar">Depositar</div>
                </div>
                <button id="cerrarPopup">Cerrar</button>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="contenedor-footer fade-out-on-scroll">
        <div class="contenedor-full-nombre">
            <span class="joaquin">Joaquin</span><span class="mongelos">Mongelos</span>
        </div>
        <div class="contenedor-principal-redes">
            <div class="contenedor-redes">
                <a class="github" href="https://github.com/JoacoMongelos28" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/in/joaquinmongelos/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a class="email" href="mailto:joaquinmongelos75@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
<script th:src="@{/js/home.js}"></script>
</html>