<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
</head>
<body>
<nav>
    <a href="#">Blackjack</a>
</nav>

<main>

    <div>
        <div>
            <form th:action="@{/loguear}" method="POST" th:object="${jugador}">
                <h3>Iniciar Sesion</h3>

                <label for="email">Email:</label>
                <input th:field="*{email}" type="text" id="email"/>

                <label for="password">Contraseña:</label>
                <input th:field="*{contrasenia}" type="password" id="password" required/>

                <p th:if="${error}">Email o contraseña incorrecta</p>

                <button type="submit">Ingresar</button>
            </form>

        </div>
    </div>

</main>
</body>
</html>