<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Casino Online - Blackjack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: "Cambria Math", sans-serif;
            background-image: url("http://localhost:8080/css/imagenes/Mesa.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #fff;
            height: 100vh;
            margin: 0;
            overflow-x: hidden; /* Oculta el desbordamiento horizontal */
        }
        .boton { /*Listo*/
            padding: 10px 20px;
            margin: 10px 40px;
            background-color: #690094;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
         .mesa { /*Listo*/
             display: flex;
             flex-direction: column;
             align-items: center;
             margin-top: 15px;
             height: 500px;
         }
        .crupier, .jugador { /*Listo*/
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px;
        }
        .crupier {
            height: 230px;
        }
        .cartas { /*Listo*/
            display: flex;
            position: relative;
            z-index: 1;
        }
        .carta { /*Listo*/
            width: 140px;
            height: 200px;
            margin: 0 -55px 30px;
            border: 4px solid rgba(255, 159, 0, 0.7);
            transition: opacity 0.5s, transform 0.5s;
            transform: translateY(-20px);
            opacity: 0;
        }
        .carta img { /*Listo*/
            width: 100%;
            height: 100%;
        }
        .mostrar {
            transform: translateY(0);
            opacity: 1;
        }
        .carta-oculta { /*Listo*/
            background-color: gray;
            border: 4px solid rgba(255, 159, 0, 0.7);
            width: 140px;
            height: 200px;
            transform: rotateY(180deg);
        }
        .popup {  /*Listo*/
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 20px;
            border-radius: 5px;
            font-size: 1.5em;
            z-index: 1000;
        }
        .botones {
            display: flex;
            margin-top: 110px;
        }
        .contenedor-botones-apuestas {
            width: 50%;
            text-align: center;
        }
        .contenedor-botones {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .boton-con-texto {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #valor-jugador, #valor-crupier, #valor-jugador-1, #valor-jugador-2 {
            border-radius: 50%;
            border: 2px solid #000000;
            width: 50px;
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 85px;
            left: -70px;
            z-index: 3;
            background-color: orange;
        }
        .contenedor-saldo {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
        .saldo-info {
            position: fixed;
            bottom: 30px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 300px;
        }
        .saldo-info .apuesta-container {
            margin-top: 50px;
            text-align: center;
        }
        .apuesta-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .jugador.row {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        .contenedor-mano {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 150px;
        }
        .titulo h1 {
            text-align: center;
            padding: 30px 0 0 0;
            font-size: 50px;
        }
        #apuesta {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
            border: 2px solid #000000;
            background-color: transparent;
            color: #ffffff;
            font-size: 18px;
        }
        #apuesta-input {
            text-align: center;
            position: relative;
        }
        .botones-expandidos {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .texto-boton {
            font-size: 16px;
        }
        </style>
</head>
<body>
<main>
    <div class="titulo">
        <h1>Blackjack</h1>
    </div>

    <section class="mesa">
        <article>
            <div class="crupier">
                <div class="cartas" id="cartas-crupier"></div>
            </div>
        </article>

        <article>
            <div class="jugador">
                <div class="cartas" id="cartas-jugador"></div>
                <div class="contenedor-mano">
                    <div class="cartas" id="cartas-jugador-1"></div>
                </div>
                <div class="contenedor-mano">
                    <div class="cartas" id="cartas-jugador-2"></div>
                </div>
            </div>
        </article>
    </section>
    <div class="apuesta-input" id="apuesta-input">
        <label for="apuesta"></label>
        <input type="number" id="apuesta">
    </div>
    <section class="botones">
        <div class="contenedor-botones-apuestas" id="contenedor-botones-apuestas">
        </div>
        <div class="contenedor-botones" id="contenedor-botones">
        </div>
    </section>

    <section class="contenedor-saldo">
        <div class="saldo-info">
            <p>Saldo: <span id="saldo" th:text="${saldo}"></span></p>
            <p>Total apostado: <span id="total-apostado">0</span></p>
            <p>Total Ganado: <span id="total-ganado">0</span></p>
        </div>
    </section>
</main>
</body>

<script>
    let mazoDeCartas = [];
    let sumaJugador = 0;
    let sumaCrupier = 0;
    let cartaOcultaDelCrupier = null;
    let saldo = parseFloat(document.getElementById('saldo').innerText);
    let apuesta = 0;
    let apuestaAnterior = 0;
    let historialApuestas = [];
    let apuestaInicial = 0;
    let huboBlackjack;
    let huboBlackjackCrupier;
    let huboAzCrupier;
    let huboDobleAz;
    let huboAz;
    let valorPrimeraMano;
    let valorSegundaMano;
    let cartaSeparada;
    let cartaSeparada2;
    let seDividio;
    let valorValidado;
    let manoActual;
    let valorJugador;
    let valorCrupier;
    let primeraManoSePaso;
    let segundaManoSePaso;
    let historialIndex = -1;
    let seRepartioLasCartas;
    let primeraManoValor;
    let segundaManoValor;
    let huboDobleAzJugador;

    document.addEventListener('DOMContentLoaded', () => {
        mostrarBotonesCuandoElJugadorNoEstaEnPartida();
        crearBotonesConValoresPredeterminados();
    });

    async function obtenerCartas() {
        try {
            const response = await fetch('/blackjack/cartas');
            if (!response.ok) {
                throw new Error('Error al obtener las cartas');
            }
            return await response.json();
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    function obtenerCartaAleatoria(cartas) {
        const cartaAleatoria = Math.floor(Math.random() * cartas.length);
        return cartas.splice(cartaAleatoria, 1)[0];
    }

    function obtenerElValorDeLaCarta(carta) {
        if (['J', 'Q', 'K'].includes(carta)) {
            return 10;
        } else if (carta === 'A') {
            return 11;
        } else {
            return parseInt(carta, 10);
        }
    }

    function repartirCartas() {
        eliminarBotonesConValores();
        valorJugador = document.createElement('div');
        valorJugador.id = 'valor-jugador';
        valorCrupier = document.createElement('div');
        valorCrupier.id = 'valor-crupier';
        primeraManoValor = document.createElement('div');
        primeraManoValor.id = 'valor-jugador-1';
        segundaManoValor = document.createElement('div');
        segundaManoValor.id = 'valor-jugador-2';
        const cartasCrupier = document.getElementById('cartas-crupier');
        const cartasJugador = document.getElementById('cartas-jugador');
        const primeraMano = document.getElementById('cartas-jugador-1');
        const segundaMano = document.getElementById('cartas-jugador-2');
        const apuestaInput = document.getElementById('apuesta');
        const totalApostado = document.getElementById('total-apostado');
        const contenedorBotones = document.getElementById('contenedor-botones');
        const totalGanado = document.getElementById('total-ganado');

        cartasCrupier.innerHTML = '';
        cartasJugador.innerHTML = '';
        primeraMano.innerHTML = '';
        segundaMano.innerHTML = '';
        primeraManoValor.innerHTML = '';
        segundaManoValor.innerHTML = '';
        contenedorBotones.innerHTML = '';
        totalGanado.innerHTML = '0';
        sumaJugador = 0;
        sumaCrupier = 0;
        manoActual = 0;
        valorPrimeraMano = 0;
        valorSegundaMano = 0;
        cartaOcultaDelCrupier = null;
        cartaSeparada = null;
        cartaSeparada2 = null;
        huboBlackjackCrupier = false;
        huboBlackjack = false;
        huboAzCrupier = false;
        huboDobleAz = false;
        huboAz = false;
        seDividio = false;
        valorValidado = false;
        primeraManoSePaso = false;
        segundaManoSePaso = false;
        seRepartioLasCartas = true;
        huboDobleAzJugador = false;

        totalApostado.textContent = ` ${apuestaAnterior.toFixed(2).toString().replace('.00', '')}`;

        const cartasARepartir = [
            { destino: cartasJugador, esCartaOculta: false },
            { destino: cartasCrupier, esCartaOculta: false },
            { destino: cartasJugador, esCartaOculta: false },
            { destino: cartasCrupier, esCartaOculta: true }
        ];

        cartasARepartir.forEach((cartaReparto, i) => {
            setTimeout(() => {
                const carta = obtenerCartaAleatoria(mazoDeCartas);
                const cartaAMostrar = document.createElement('div');
                cartaAMostrar.className = 'carta';

                if (cartaReparto.esCartaOculta) {
                    cartaAMostrar.classList.add('carta-oculta');
                    cartaOcultaDelCrupier = carta;
                } else {
                    const img = document.createElement('img');
                    img.src = `css/imagenes/${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}.png`;
                    img.alt = `${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}`;
                    cartaAMostrar.appendChild(img);

                    if (cartaReparto.destino === cartasCrupier) {
                        sumaCrupier += obtenerElValorDeLaCarta(carta.numero);
                    } else {
                        if (carta.numero === 'A') {
                            sumaJugador += obtenerElValorDeLaCarta(carta.numero);
                            huboAz = true;
                        } else {
                            sumaJugador += obtenerElValorDeLaCarta(carta.numero);
                        }
                    }
                }

                cartaReparto.destino.appendChild(cartaAMostrar);

                // Añadir clase para transición
                requestAnimationFrame(() => {
                    cartaAMostrar.classList.add('mostrar');
                });
            }, i * 1000); // 1000 ms de intervalo entre cartas
        });

        setTimeout(() => {
            cartasJugador.appendChild(valorJugador);
            cartasCrupier.appendChild(valorCrupier);
            verificarBlackjack();
            mostrarBotonDividirSiAmbasCartasTienenElMismoValor();

            valorCrupier.innerText = `${sumaCrupier}`;

            if (huboDobleAzJugador){
                sumaJugador = 2;
                valorJugador.innerText = `${sumaJugador}`;
            } else if (huboAz && sumaJugador < 21) {
                valorJugador.innerText = `${sumaJugador}/${sumaJugador - 10}`;
            } else if (huboBlackjack) {
                valorJugador.innerText = `BJ`;
            } else {
                valorJugador.innerText = `${sumaJugador}`;
            }

            eliminarPadreDelBoton('boton-repartir');
            eliminarPadreDelBoton('boton-doblar');
            eliminarPadreDelBoton('boton-deshacer');
            eliminarPadreDelBoton('boton-reapostar');
            eliminarPadreDelBoton('boton-eliminar-apuesta');

            if (!huboBlackjack) {
                crearBoton('boton-pedir-carta', "fa-solid fa-plus", 'Pedir carta');
                crearBoton('boton-plantarse', "fa-solid fa-minus", 'Plantarse');
                crearBoton('boton-doblar-apuesta', 'mdi mdi-size-xs', 'Doblar X2');
            }

            apuestaInput.readOnly = true;
            apuestaInicial = apuesta;
        }, cartasARepartir.length * 1000); // Esperar a que todas las cartas se repartan
    }

    function eliminarBoton(id) {
        const boton = document.getElementById(id);
        if (boton) {
            boton.remove();
        }
    }

    function eliminarPadreDelBoton(id) {
        const boton = document.getElementById(id);
        if (boton) {
            const contenedorBotonTexto = boton.parentElement;
            contenedorBotonTexto.remove();
        }
    }

    function eliminarBotonesConValores() {
        eliminarBoton('boton-500')
        eliminarBoton('boton-1K')
        eliminarBoton('boton-2K')
        eliminarBoton('boton-5K')
        eliminarBoton('boton-10K')
        document.getElementById('contenedor-botones-apuestas').classList.remove('contenedor-botones-apuestas')
        document.getElementById('contenedor-botones').classList.remove('contenedor-botones');
        document.getElementById('contenedor-botones').classList.add('botones-expandidos');
    }

    function crearBoton(id, icono, texto) {
        const contenedorBotones = document.getElementById('contenedor-botones');
        const botonExistente = document.getElementById(id);

        if (!botonExistente) {
            const contenedorBotonTexto = document.createElement('div');
            contenedorBotonTexto.className = 'boton-con-texto';

            const botonCreado = document.createElement('button');
            botonCreado.className = `boton ${icono}`;
            botonCreado.id = id;

            const textoDelBoton = document.createElement('p');
            textoDelBoton.className = 'texto-boton';
            textoDelBoton.textContent = texto;

            contenedorBotonTexto.appendChild(botonCreado);
            contenedorBotonTexto.appendChild(textoDelBoton);

            contenedorBotones.appendChild(contenedorBotonTexto);
        }
    }

    function crearBotonConValor(id, texto) {
        const contenedorBotones = document.getElementById('contenedor-botones-apuestas');
        const botonExistente = document.getElementById(id);

        if (!botonExistente) {
            const botonCreado = document.createElement('button');
            botonCreado.className = 'boton';
            botonCreado.id = id;
            botonCreado.textContent = texto;
            contenedorBotones.appendChild(botonCreado);
            return botonCreado;
        }
    }

    function agregarCartaAlJugador(carta) {
        const cartasJugador = document.getElementById('cartas-jugador');
        const cartaDiv = document.createElement('div');
        cartaDiv.className = 'carta';

        const img = document.createElement('img');
        img.src = `css/imagenes/${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}.png`;
        img.alt = `${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}`;
        cartaDiv.appendChild(img);

        cartasJugador.appendChild(cartaDiv);

        setTimeout(() => {
            cartaDiv.classList.add('mostrar');
        }, 50);
    }

    function sumarLosValoresDeLasCartasDelJugador(carta) {
        const valorJugador = document.getElementById('valor-jugador');

        if (carta.numero === 'A') {
            sumaJugador += obtenerElValorDeLaCarta(carta.numero);

            if (huboDobleAzJugador) {
                sumaJugador -= 10;
                valorJugador.innerText = `${sumaJugador}`;
            } else if (huboAz) {
                sumaJugador -= 10;
                huboAz = false
                valorJugador.innerText = `${sumaJugador}`;
            } else if (sumaJugador > 21) {
                sumaJugador -= 10;
                valorJugador.innerText = `${sumaJugador}`;
            } else if (sumaJugador === 21) {
                valorJugador.innerText = `${sumaJugador}`;
            } else {
                huboAz = true;
                valorJugador.innerText = `${sumaJugador}/${sumaJugador - 10}`;
            }
        } else if (huboAz) {
            sumaJugador += obtenerElValorDeLaCarta(carta.numero);

            if (sumaJugador > 21 || carta.numero === 'A') {
                sumaJugador -= 10;
                valorJugador.innerText = `${sumaJugador}`;
                huboAz = false;
            } else if (sumaJugador === 21) {
                valorJugador.innerText = `${sumaJugador}`;
            } else {
                valorJugador.innerText = `${sumaJugador}/${sumaJugador - 10}`;
            }
        } else {
            sumaJugador += obtenerElValorDeLaCarta(carta.numero);
            valorJugador.innerText = `${sumaJugador}`;
        }

        if (sumaJugador > 21 || sumaJugador === 21) {
            eliminarPadreDelBoton('boton-pedir-carta')
            eliminarPadreDelBoton('boton-plantarse')
            queElCrupierJuegue();
        }
    }

    function mostrarLaCartaOcultaDelCrupier() {
        const valorCrupier = document.getElementById('valor-crupier');
        const cartaOcultaDiv = document.querySelector('.carta-oculta');
        if (cartaOcultaDiv && cartaOcultaDelCrupier) {
            cartaOcultaDiv.classList.remove('carta-oculta');

            const img = document.createElement('img');
            img.src = `css/imagenes/${cartaOcultaDelCrupier.numero} de ${obtenerElPaloDeLaCarta(cartaOcultaDelCrupier.palo)}.png`;
            img.alt = `${cartaOcultaDelCrupier.numero} de ${obtenerElPaloDeLaCarta(cartaOcultaDelCrupier.palo)}`;

            cartaOcultaDiv.appendChild(img);

            setTimeout(() => {
                cartaOcultaDiv.classList.add('mostrar');
            }, 50);

            sumaCrupier += obtenerElValorDeLaCarta(cartaOcultaDelCrupier.numero);

            const cartasCrupier = document.getElementById('cartas-crupier').getElementsByClassName('carta');

            if (cartasCrupier.length === 2) {
                const carta1 = cartasCrupier[0].querySelector('img').alt.split(' ')[0];
                const carta2 = cartasCrupier[1].querySelector('img').alt.split(' ')[0];

                if ((carta1 === 'A' && ['10', 'J', 'Q', 'K'].includes(carta2)) ||
                    (['10', 'J', 'Q', 'K'].includes(carta1) && carta2 === 'A')) {
                    huboBlackjackCrupier = true;
                    valorCrupier.innerText = `BJ`;
                } else if (carta1 === 'A' && carta2 === 'A' && !huboDobleAz) {
                    sumaCrupier = 2;
                    huboAzCrupier = false;
                    huboDobleAz = true;
                    valorCrupier.innerText = `${sumaCrupier}`;
                } else if (carta1 === 'A' || carta2 === 'A') {
                    huboAzCrupier = true;
                    valorCrupier.innerText = `${sumaCrupier}/${sumaCrupier - 10}`;
                } else {
                    valorCrupier.innerText = `${sumaCrupier}`;
                }
            }
        }
    }

    function ocultarLosBotonesDuranteLaPartida() {
        eliminarPadreDelBoton('boton-repartir');
        eliminarPadreDelBoton('boton-pedir-carta');
        eliminarPadreDelBoton('boton-plantarse');
        eliminarPadreDelBoton('boton-eliminar-apuesta');
        eliminarPadreDelBoton('boton-doblar-apuesta');
        eliminarPadreDelBoton('boton-dividir');
    }

    function mostrarBotonesCuandoElJugadorNoEstaEnPartida() {
        document.querySelector('.jugador').classList.remove('row');
        document.getElementById('contenedor-botones-apuestas').classList.add('contenedor-botones-apuestas')
        document.getElementById('contenedor-botones').classList.remove('botones-expandidos')
        document.getElementById('contenedor-botones').classList.add('contenedor-botones')
        document.getElementById('total-apostado').textContent = '0';
        document.getElementById('apuesta').value = '';
        const apuestaInput = document.getElementById('apuesta');
        apuestaInput.readOnly = true;

        mostrarBotonReapostar();

        apuestaInput.addEventListener('input', function() {
            if (apuestaInput.value.trim() !== '') {
                crearBoton('boton-repartir', 'mdi mdi-cards', 'Repartir');
                crearBoton('boton-doblar', "mdi mdi-size-xs", 'Doblar X2');
                crearBoton('boton-deshacer', "fa-solid fa-rotate-left", 'Deshacer');
                crearBoton('boton-eliminar-apuesta', "fa-solid fa-trash", 'Eliminar apuesta');
            } else {
                eliminarPadreDelBoton('boton-repartir');
                eliminarPadreDelBoton('boton-doblar');
                eliminarPadreDelBoton('boton-deshacer');
                eliminarPadreDelBoton('boton-eliminar-apuesta');
            }
        });
    }

    function crearBotonesConValoresPredeterminados () {
        const apuestaInput = document.getElementById('apuesta');
        const valores = ['500', '1K', '2K', '5K', '10K'];
        valores.forEach(valor => {
            const botonValor = crearBotonConValor(`boton-${valor}`, valor);
            botonValor.addEventListener('click', () => {
                const valorActual = parseFloat(apuestaInput.value) || 0;
                let valorNumerico = obtenerValorNumerico(valor);
                apuestaInput.value = (valorActual + valorNumerico).toFixed();
                if (valorNumerico > 0) {
                    historialApuestas = historialApuestas.slice(0, historialIndex + 1);
                    historialApuestas.push((valorActual + valorNumerico));
                    historialIndex = historialApuestas.length - 1;
                }

                apuestaInput.dispatchEvent(new Event('input'));
            });
        });
    }

    function limpiarMesa () {
        const cartasCrupier = document.getElementById('cartas-crupier');
        const cartasJugador = document.getElementById('cartas-jugador');
        const primeraMano = document.getElementById('cartas-jugador-1')
        const segundaMano = document.getElementById('cartas-jugador-2')
        cartasCrupier.innerHTML = '';
        cartasJugador.innerHTML = '';
        primeraMano.innerHTML = '';
        segundaMano.innerHTML = '';
        primeraManoValor.innerHTML = '';
        segundaManoValor.innerHTML = '';
        valorCrupier.innerHTML = '';
        valorJugador.innerHTML = '';
    }

    function obtenerValorNumerico(valor) {
        if (valor === '500') {
            return 500;
        } else if (valor === '1K'){
            return 1000;
        } else if (valor === '2K') {
            return 2000;
        } else if (valor === '5K') {
            return 5000;
        } else if (valor === '10K'){
            return 10000;
        }
    }

    document.getElementById('contenedor-botones').addEventListener('click', function(event) {
        if (event.target && event.target.id === 'boton-repartir') {
            jugarBlackjack();
        } else if (event.target && event.target.id === 'boton-doblar') {
            doblarLaApuestaDelInput();
        } else if (event.target && event.target.id === 'boton-deshacer') {
            deshacerApuestas();
        } else if (event.target && event.target.id === 'boton-eliminar-apuesta') {
            eliminarApuestas();
        } else if (event.target && event.target.id === 'boton-pedir-carta') {
            jugadorPideCarta();
        } else if (event.target && event.target.id === 'boton-plantarse') {
            plantarse();
        } else if (event.target && event.target.id === 'boton-doblar-apuesta') {
            doblarApuestaDuranteLaPartida();
        } else if (event.target && event.target.id === 'boton-dividir') {
            dividirCartas();
        } else if (event.target && event.target.id === 'boton-reapostar') {
            reapostarApuestaAnterior();
        }
    });

    function verificarBlackjack() {
        const cartasJugador = document.getElementById('cartas-jugador').getElementsByClassName('carta');
        if (cartasJugador.length === 2) {
            const carta1 = cartasJugador[0].querySelector('img').alt.split(' ')[0];
            const carta2 = cartasJugador[1].querySelector('img').alt.split(' ')[0];

            if ((carta1 === 'A' && ['10', 'J', 'Q', 'K'].includes(carta2)) ||
                (['10', 'J', 'Q', 'K'].includes(carta1) && carta2 === 'A')) {
                huboBlackjack = true;
                queElCrupierJuegue();
            } else if (carta1 === 'A' && carta2 === 'A') {
                huboDobleAzJugador = true;
            }
        }
    }

    function mostrarBotonDividirSiAmbasCartasTienenElMismoValor() {
        const cartasJugador = document.getElementById('cartas-jugador').getElementsByClassName('carta');
        if (cartasJugador.length === 2) {
            const carta1 = cartasJugador[0].querySelector('img').alt.split(' ')[0];
            const carta2 = cartasJugador[1].querySelector('img').alt.split(' ')[0];

            const cartaObtenida1 = obtenerElValorDeLaCarta(carta1)
            const cartaObtenida2 = obtenerElValorDeLaCarta(carta2)

            if (cartaObtenida1 === cartaObtenida2) {
                crearBoton('boton-dividir', "fa-solid fa-left-right", 'Dividir')
            }
        }
    }

    function verificarResultado() {

        if (seDividio){
            if (huboBlackjackCrupier) { // validado ok
                mostrarPopup('Cruppier tiene BJ');
            } else if (!primeraManoSePaso && !segundaManoSePaso && sumaCrupier > 21) {
                saldo += apuesta * 2;
                mostrarPopup('Ganaste ' + apuesta * 2); // Validado ok
                document.getElementById('total-ganado').textContent = (apuesta * 2).toFixed();
                actualizarSaldoDelJugador();
            } else if (!primeraManoSePaso && !segundaManoSePaso && valorPrimeraMano > sumaCrupier && valorSegundaMano > sumaCrupier) {
                saldo += apuesta * 2;
                mostrarPopup('Ganaste ' + apuesta * 2); // Validado ok
                document.getElementById('total-ganado').textContent = (apuesta * 2).toFixed();
                actualizarSaldoDelJugador();
            } else if ((!primeraManoSePaso && segundaManoSePaso) || (primeraManoSePaso && !segundaManoSePaso)) {
                if ((sumaCrupier > 21 || (valorPrimeraMano > sumaCrupier && !primeraManoSePaso)) || ((valorSegundaMano > sumaCrupier && !segundaManoSePaso))) {
                    saldo += apuesta;
                    mostrarPopup('Ganaste ' + apuesta); // Validado ok
                    document.getElementById('total-ganado').textContent = apuesta.toFixed();
                    actualizarSaldoDelJugador();
                } else if ((valorPrimeraMano === sumaCrupier && valorSegundaMano !== sumaCrupier) || (valorPrimeraMano !== sumaCrupier && valorSegundaMano === sumaCrupier)) {
                    if ((!primeraManoSePaso) && valorPrimeraMano === sumaCrupier) {
                        saldo += (apuesta / 2);
                        mostrarPopup('Ganaste ' + (apuesta / 2)); // Validado ok
                        document.getElementById('total-ganado').textContent = (apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    } else if ((!segundaManoSePaso) && valorSegundaMano === sumaCrupier) {
                        saldo += (apuesta / 2);
                        mostrarPopup('Ganaste ' + (apuesta / 2)); // Validado ok
                        document.getElementById('total-ganado').textContent = (apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    } else {
                        mostrarPopup('Perdiste')
                    }
                } else {
                    mostrarPopup('Perdiste')
                }
            } else if (valorPrimeraMano === sumaCrupier && valorSegundaMano === sumaCrupier && sumaCrupier <= 21) {
                saldo += apuesta;
                mostrarPopup('Ganaste ' + apuesta); // Validado ok
                document.getElementById('total-ganado').textContent = apuesta.toFixed();
                actualizarSaldoDelJugador();
            } else if ((valorPrimeraMano === sumaCrupier && valorSegundaMano !== sumaCrupier) || (valorPrimeraMano !== sumaCrupier && valorSegundaMano === sumaCrupier)) {
                if ((!primeraManoSePaso) && (valorPrimeraMano > sumaCrupier || sumaCrupier > 21)) {
                    saldo += (apuesta + apuesta / 2);
                    mostrarPopup('Ganaste ' + (apuesta + apuesta / 2)); // Validado ok
                    document.getElementById('total-ganado').textContent = (apuesta + apuesta / 2).toFixed();
                    actualizarSaldoDelJugador();
                } else if ((!segundaManoSePaso) && (valorSegundaMano > sumaCrupier || sumaCrupier > 21)) {
                    saldo += (apuesta + apuesta / 2);
                    mostrarPopup('Ganaste ' + (apuesta + apuesta / 2)); // Validado ok
                    document.getElementById('total-ganado').textContent = (apuesta + apuesta / 2).toFixed();
                    actualizarSaldoDelJugador();
                } else if ((!primeraManoSePaso) && valorPrimeraMano === sumaCrupier) {
                    if (segundaManoSePaso || valorSegundaMano < sumaCrupier) {
                        saldo += (apuesta / 2);
                        console.log('Entramos aca: ' + saldo);
                        mostrarPopup('Ganaste ' + (apuesta / 2));
                        document.getElementById('total-ganado').textContent = (apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    } else if (!segundaManoSePaso && valorSegundaMano > sumaCrupier) {
                        saldo += (apuesta + apuesta / 2);
                        console.log('Entramos aca: ' + saldo);
                        mostrarPopup('Ganaste ' + (apuesta / 2));
                        document.getElementById('total-ganado').textContent = (apuesta + apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    }
                } else if ((!segundaManoSePaso) && valorSegundaMano === sumaCrupier) {
                    if (primeraManoSePaso || valorPrimeraMano < sumaCrupier) {
                        saldo += (apuesta / 2); // Validado ok
                        mostrarPopup('Ganaste ' + (apuesta / 2));
                        document.getElementById('total-ganado').textContent = (apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    } else if (!primeraManoSePaso && valorPrimeraMano > sumaCrupier) {
                        saldo += (apuesta + apuesta / 2);
                        console.log('Entramos aca: ' + (apuesta + apuesta / 2));
                        mostrarPopup('Ganaste ' + (apuesta + apuesta / 2));
                        document.getElementById('total-ganado').textContent = (apuesta + apuesta / 2).toFixed();
                        actualizarSaldoDelJugador();
                    }
                } else {
                    mostrarPopup('Perdiste')
                }
            } else if (!primeraManoSePaso && !segundaManoSePaso && sumaCrupier <= 21) {
                if ((sumaCrupier > valorPrimeraMano && sumaCrupier < valorSegundaMano) || (sumaCrupier > valorSegundaMano && sumaCrupier < valorPrimeraMano)) {
                    saldo += apuesta;
                    mostrarPopup('Ganaste ' + apuesta); // Validado ok
                    document.getElementById('total-ganado').textContent = apuesta.toFixed();
                    actualizarSaldoDelJugador();
                } else {
                    mostrarPopup('Perdiste')
                }
            } else {
                mostrarPopup('Perdiste')
            }
        } else if (huboBlackjack && huboBlackjackCrupier) {
            saldo += apuesta;
            mostrarPopup('Empate, ambos tienen BJ ' + apuesta);
            document.getElementById('total-ganado').textContent = apuesta.toFixed();
            actualizarSaldoDelJugador();
        } else if (huboBlackjackCrupier && !huboBlackjack) {
            mostrarPopup('Cruppier tiene BJ');
        } else if (huboBlackjack && !huboBlackjackCrupier) {
            saldo += apuesta * 2.5;
            mostrarPopup('¡Blackjack! Ganaste ' + apuesta * 2.5); // Validado ok
            document.getElementById('total-ganado').textContent = (apuesta * 2.5).toFixed();
            actualizarSaldoDelJugador();
        } else if (sumaJugador > 21) {
            mostrarPopup('Perdiste')
        } else if (sumaCrupier > 21 || sumaJugador > sumaCrupier) {
            saldo += apuesta * 2;
            mostrarPopup('Ganaste ' + apuesta * 2);
            document.getElementById('total-ganado').textContent = (apuesta * 2).toFixed();
            actualizarSaldoDelJugador();
        } else if (sumaJugador === sumaCrupier && !huboBlackjack && !huboBlackjackCrupier) {
            saldo += apuesta;
            mostrarPopup('Ganaste ' + apuesta); // Validado ok
            document.getElementById('total-ganado').textContent = apuesta.toFixed();
            actualizarSaldoDelJugador();
        } else {
            actualizarSaldoDelJugador();
        }
    }

    function queElCrupierJuegue() {
        ocultarLosBotonesDuranteLaPartida();
        mostrarLaCartaOcultaDelCrupier();

        const intervalo = setInterval(() => {
            if (sumaCrupier < 17) {
                const carta = obtenerCartaAleatoria(mazoDeCartas);
                const cartaDiv = document.createElement('div');
                cartaDiv.className = 'carta';
                const img = document.createElement('img');
                img.src = `css/imagenes/${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}.png`;
                img.alt = `${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}`;

                cartaDiv.appendChild(img);
                document.getElementById('cartas-crupier').appendChild(cartaDiv);

                setTimeout(() => {
                    cartaDiv.classList.add('mostrar');
                }, 50);

                if (huboAzCrupier && carta.numero === 'A') {
                    sumaCrupier += 1;
                    huboAzCrupier = false;
                    valorCrupier.innerText = `${sumaCrupier}`;
                } else if (carta.numero === 'A' && !huboAzCrupier) {
                    sumaCrupier += obtenerElValorDeLaCarta(carta.numero);
                    if (sumaCrupier > 21) {
                        sumaCrupier -= 10;
                        valorCrupier.innerText = `${sumaCrupier}`;
                    } else if (sumaCrupier >= 17) {
                        valorCrupier.innerText = `${sumaCrupier}`;
                    } else {
                        huboAzCrupier = true;
                        valorCrupier.innerText = `${sumaCrupier}/${sumaCrupier - 10}`;
                    }
                } else if (huboAzCrupier) {
                    sumaCrupier += obtenerElValorDeLaCarta(carta.numero);
                    if (sumaCrupier > 21) {
                        sumaCrupier -= 10;
                        huboAzCrupier = false;
                        valorCrupier.innerText = `${sumaCrupier}`;
                    } else if (sumaCrupier >= 17) {
                        valorCrupier.innerText = `${sumaCrupier}`;
                    } else {
                        valorCrupier.innerText = `${sumaCrupier}/${sumaCrupier - 10}`;
                    }
                } else if (huboDobleAz) {
                    sumaCrupier += obtenerElValorDeLaCarta(carta.numero);
                    valorCrupier.innerText = `${sumaCrupier}`;
                } else {
                    sumaCrupier += obtenerElValorDeLaCarta(carta.numero);
                    valorCrupier.innerText = `${sumaCrupier}`;
                }

                if (sumaCrupier >= 21) {
                    clearInterval(intervalo);
                    setTimeout(() => {
                        limpiarMesa();
                        mostrarBotonesCuandoElJugadorNoEstaEnPartida();
                        crearBotonesConValoresPredeterminados()
                    }, 1000);
                    verificarResultado();
                }
            } else {
                clearInterval(intervalo);
                setTimeout(() => {
                    limpiarMesa();
                    mostrarBotonesCuandoElJugadorNoEstaEnPartida();
                    crearBotonesConValoresPredeterminados()
                }, 1000);
                verificarResultado();
            }
        }, 1000);
    }

    function dividirCartas () {
        if (saldo >= apuesta) {
            eliminarPadreDelBoton('boton-dividir');
            eliminarPadreDelBoton('boton-doblar-apuesta');
            seDividio = true;

            saldo -= apuesta;
            apuesta *= 2;
            document.getElementById('total-apostado').textContent = apuesta.toFixed(2);
            document.getElementById('apuesta').value = apuesta.toFixed(2);
            actualizarSaldoDelJugador();

            const cartasJugador = Array.from(document.getElementById('cartas-jugador').getElementsByClassName('carta'));
            document.getElementById('cartas-jugador').innerHTML = '';
            const manoJugador1Div = document.getElementById('cartas-jugador-1');
            const manoJugador2Div = document.getElementById('cartas-jugador-2');

            manoJugador1Div.appendChild(primeraManoValor);
            manoJugador1Div.appendChild(cartasJugador[0]);
            manoJugador2Div.appendChild(segundaManoValor);
            manoJugador2Div.appendChild(cartasJugador[1]);

            cartaSeparada = manoJugador1Div.querySelector('img').alt.split(' ')[0];
            valorPrimeraMano = obtenerElValorDeLaCarta(cartaSeparada);
            document.getElementById('valor-jugador-1').innerText = `${valorPrimeraMano}`;

            cartaSeparada2 = manoJugador2Div.querySelector('img').alt.split(' ')[0];
            valorSegundaMano = obtenerElValorDeLaCarta(cartaSeparada2);
            document.getElementById('valor-jugador-2').innerText = `${valorSegundaMano}`;

            // Añadir clase para transición
            requestAnimationFrame(() => {
                cartasJugador[0].classList.add('mostrar');
                cartasJugador[1].classList.add('mostrar');
            });

            agregarCartaAMano(manoJugador1Div);
            document.querySelector('.jugador').classList.add('row');
        } else {
            mostrarPopup("Saldo insuficiente")
        }
    }

    function agregarCartaAMano(manoDiv) {
        const carta = obtenerCartaAleatoria(mazoDeCartas);
        const cartaDiv = document.createElement('div');
        cartaDiv.className = 'carta';
        const img = document.createElement('img');
        img.src = `css/imagenes/${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}.png`;
        img.alt = `${carta.numero} de ${obtenerElPaloDeLaCarta(carta.palo)}`;
        cartaDiv.appendChild(img);
        manoDiv.appendChild(cartaDiv);

        // Añadir clase para transición
        requestAnimationFrame(() => {
            cartaDiv.classList.add('mostrar');
        });

        if (manoDiv.id === 'cartas-jugador-1') {
            valorPrimeraMano += obtenerElValorDeLaCarta(carta.numero);

            if (carta.numero === 'A') {
                if (valorPrimeraMano > 21) {
                    valorPrimeraMano -= 10;
                    document.getElementById('valor-jugador-1').innerText = `${valorPrimeraMano}`;
                } else {
                    document.getElementById('valor-jugador-1').innerText = `${valorPrimeraMano}/${valorPrimeraMano - 10}`;
                }
            } else if (valorPrimeraMano > 21) {
                const manoJugador2Div = document.getElementById('cartas-jugador-2');
                primeraManoSePaso = true;
                document.getElementById('valor-jugador-1').innerText = `${valorPrimeraMano}`;
                agregarCartaAMano(manoJugador2Div);
            } else {
                document.getElementById('valor-jugador-1').innerText = `${valorPrimeraMano}`;
                manoActual = manoDiv;
                interaccionarConLaMano(manoDiv);
            }
        } else if (manoDiv.id === 'cartas-jugador-2') {
            valorSegundaMano += obtenerElValorDeLaCarta(carta.numero);

            if (carta.numero === 'A') {
                if (valorSegundaMano > 21) {
                    valorSegundaMano -= 10;
                    document.getElementById('valor-jugador-2').innerText = `${valorSegundaMano}`;
                } else {
                    document.getElementById('valor-jugador-2').innerText = `${valorSegundaMano}/${valorSegundaMano - 10}`;
                }
            } else if (valorSegundaMano > 21) {
                segundaManoSePaso = true;
                document.getElementById('valor-jugador-2').innerText = `${valorSegundaMano}`;
                queElCrupierJuegue();
            } else {
                document.getElementById('valor-jugador-2').innerText = `${valorSegundaMano}`;
                interaccionarConLaMano(manoDiv);
            }
        }
    }

    function interaccionarConLaMano(manoDiv) {
        if (manoDiv.id === 'cartas-jugador-1' && valorPrimeraMano === 21 && !valorValidado) {
            const manoJugador2Div = document.getElementById('cartas-jugador-2');
            agregarCartaAMano(manoJugador2Div);
            valorValidado = true;
            manoActual = manoJugador2Div;
        } else if (manoDiv.id === 'cartas-jugador-2' && valorSegundaMano === 21) {
            mostrarLaCartaOcultaDelCrupier();
            queElCrupierJuegue()
        } else {
            manoActual = manoDiv;
        }
    }

    function obtenerElPaloDeLaCarta(palo) {
        switch (palo) {
            case "CORAZON":
                return 'Corazon';
            case "DIAMANTE":
                return 'Diamante';
            case "TREBOL":
                return 'Trebol';
            case "PICA":
                return 'Picas';
        }
    }

    function actualizarSaldoDelJugador() {
        document.getElementById('saldo').innerText = saldo.toFixed(2);

        fetch('/blackjack/actualizarSaldo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ saldo: saldo })
        }).then(response => {
            if (!response.ok) {
                throw new Error('Error al actualizar el saldo en la base de datos');
            }
        }).catch(error => {
            console.error(error);
        });
    }

    async function jugarBlackjack() {
        apuesta = parseFloat(document.getElementById('apuesta').value);

        if (isNaN(apuesta) || apuesta <= 0) {
            mostrarPopup('Debes apostar primero o la apuesta es inválida.');
            return;
        } else if (apuesta > saldo) {
            mostrarPopup('Saldo insuficiente');
            return;
        }

        apuestaAnterior = apuesta;
        saldo -= apuesta;
        historialApuestas = [apuesta];

        mazoDeCartas = await obtenerCartas();
        repartirCartas();
        actualizarSaldoDelJugador();
    }

    function jugadorPideCarta () {
        eliminarPadreDelBoton('boton-dividir')
        if (seDividio) {
            agregarCartaAMano(manoActual);
        } else {
            const carta = obtenerCartaAleatoria(mazoDeCartas);
            agregarCartaAlJugador(carta);
            sumarLosValoresDeLasCartasDelJugador(carta);
            eliminarPadreDelBoton('boton-doblar-apuesta')
        }
    }

    function plantarse () {
        if (seDividio) {
            if (manoActual.id === 'cartas-jugador-1') {
                manoActual = document.getElementById('cartas-jugador-2')
                agregarCartaAMano(manoActual);
            } else {
                mostrarLaCartaOcultaDelCrupier();
                queElCrupierJuegue()
            }
        } else {
            mostrarLaCartaOcultaDelCrupier();
            queElCrupierJuegue();
        }
    }

    function doblarLaApuestaDelInput () {
        const apuestaInput = document.getElementById('apuesta');
        let apuesta = parseFloat(apuestaInput.value);

        if (isNaN(apuesta) || apuesta <= 0) {
            mostrarPopup('Por favor, ingrese una apuesta válida.');
            return;
        }

        historialApuestas.push(apuesta);
        apuesta *= 2;
        apuestaInput.value = apuesta.toFixed(2);
    }

    function actualizarInputYBotones(nuevoValor) {
        const apuestaInput = document.getElementById('apuesta');
        apuestaInput.value = nuevoValor;
        apuestaInput.dispatchEvent(new Event('input'));
    }

    function deshacerApuestas() {
        if (historialApuestas.length === 0) {
            alert('No hay apuestas para deshacer.');
            return;
        }

        switch (historialIndex) {
            case 0:
                historialIndex--;
                actualizarInputYBotones('');
                break;
            default:
                historialIndex--;
                actualizarInputYBotones(historialApuestas[historialIndex]);
                break;
        }
    }

    function eliminarApuestas() {
        document.getElementById('apuesta').value = '';
        historialApuestas = [];
        document.getElementById('apuesta').dispatchEvent(new Event('input'));
    }

    function doblarApuestaDuranteLaPartida () {

        if (saldo < apuesta) {
            mostrarPopup('Saldo insuficiente para doblar la apuesta');
            return;
        }

        saldo -= apuesta;
        apuesta *= 2;
        document.getElementById('total-apostado').textContent = apuesta.toFixed(2);
        document.getElementById('apuesta').value = apuesta.toFixed(2);
        actualizarSaldoDelJugador()
        const carta = obtenerCartaAleatoria(mazoDeCartas);
        agregarCartaAlJugador(carta);
        sumarLosValoresDeLasCartasDelJugador(carta);
        ocultarLosBotonesDuranteLaPartida();
        queElCrupierJuegue();
    }

    function reapostarApuestaAnterior () {
        if (saldo <= 0) {
            mostrarPopup('No tienes saldo disponible para reapostar.');
            return;
        }

        apuesta = apuestaAnterior;
        document.getElementById('apuesta').value = apuesta;
        historialApuestas.push(apuesta)
        document.getElementById('apuesta').dispatchEvent(new Event('input'));
    }

    function mostrarBotonReapostar () {
        if (historialApuestas.length && seRepartioLasCartas) {
            eliminarPadreDelBoton('boton-reapostar');
            crearBoton('boton-reapostar','fa-solid fa-rotate', 'Reapostar');
            const botonReapostar = document.getElementById('boton-reapostar');
            botonReapostar.textContent = ` ${apuestaAnterior}`;
        } else {
            eliminarPadreDelBoton('boton-reapostar');
        }
    }

    function mostrarPopup(mensaje) {
        const popup = document.createElement('div');
        popup.className = 'popup';
        popup.innerText = mensaje;
        document.body.appendChild(popup);

        setTimeout(() => {
            popup.remove();
        }, 1000);
    }
</script>

</html>