<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blackjack</title>

</head>

<body>

<nav>
    <a href="#">Blackjack</a>
</nav>

<main>

    <div>
        <div>
            <form th:action="@{/registrar}" method="POST" th:object="${jugador}">
                <h3>Nuevo Usuario</h3>

                <label for="email">Email:</label>
                <input th:field="*{email}" type="text" id="email"/>

                <label for="password">Contraseña:</label>
                <input th:field="*{contrasenia}" type="password" id="password" required/>

                <button type="submit">Registrarme</button>
            </form>

        </div>
    </div>

</main>
</body>
</html>